<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Professor</title>
</head>
<body>
<h2>Update Professor</h2>

<form th:action="@{'/view/professors/update/' + ${professor.id}}" th:object="${professor}" method="post">
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}"/><br/>

    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}"/><br/>

    <label>Email:</label>
    <input type="email" th:field="*{email}"/><br/>

    <label>Department:</label>
    <input type="text" th:field="*{department}"/><br/>

    <button type="submit">Update</button>
</form>

<a th:href="@{/view/professors}">Back to list</a>
</body>
</html>
